
/* ===================================== */
/* Responsive dropdown */
/* ===================================== */
.dropbtn-res{
    background-color: rgba(128, 0, 128, 0.738);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  
  .dropdown-responsive {
    position: relative;
    display: inline-block;
    font: inherit;
    font-size: inherit;
  }
  
  .dropdown-content-res {
    display: none;
    position: absolute;
    left: 0%;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content-res a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-res a:hover {background-color: #ddd;}
  
  .dropdown-responsive:hover .dropdown-content-res {display: block;}
  
  .dropdown-responsive:hover .dropbtn {background-color:purple;}
/* ===================================== */