{% extends 'main.html'%} {% block title %}Ad Photos- FunOlympics{% endblock
title %} {% load static%} {% block styles%}
<link rel="stylesheet" href="{% static 'styles/add_photos.css' %}" />
{% endblock styles%}

<!-- This template is used to render forms to add photos and add albums -->
{% block content %}

<!--Add album form  -->
{% if page == 'add_album' %}

<h3>Add Album</h3>

<div class="tab-buttons">
  <a href="{% url 'add_photos' %}">Add Photo</a>
  <a href="{% url 'add_album' %}" class="active-tab">Add Album</a>
</div>

<form action="" method="post" novalidate class="default-form">
  {% csrf_token %} {% for field in albumform %}

  <div class="input-errors">
    {{field.label_tag}}
    <div class="input-fields">{{field}}</div>

    <div class="errors-div">
      {% for error in field.errors %}
      <small style="color: red">{{error}}</small>
      {% endfor %}
    </div>
    
  </div>

  {% endfor %}
  <input type="submit" value="Add Album" class="default-button--large" />
</form>

{% else %}
<!--Add photo form  -->

<h3>Add photos</h3>
<div class="tab-buttons">
  <a href="{% url 'add_photos' %}" class="active-tab">Add Photo</a>
  <a href="{% url 'add_album' %}">Add Album</a>
</div>

<form action="" method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %} {% for field in form %}
  <div class="input-errors">
    {{field.label_tag}}
    <div class="input-fields">{{field}}</div>

    <div class="errors-div">
      {% for error in field.errors %}
      <small style="color: red">{{error}}</small>
      {% endfor %}
    </div>
  </div>

  {% endfor %}
  <input type="submit" value="Add Photo" class="default-button--large" />
</form>
{% endif %} {% endblock %}
