<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{% static 'styles/photo.css' %}">
    
    <title>Photo</title>

    <script src="https://kit.fontawesome.com/de23b03d2b.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="container">
       <a href="{% url 'gallery' %}"><i class="fa-solid fa-angle-left"></i></a>
        <div class="photo">
            <img src="{{photo.photo.url}}" alt="">
        </div>
        <div class="caption" style="text-align:center; width:100%;">
            <p>{{photo.description}}</p>
        </div>

    </div>
</body>

</html>