@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root{
  --dark_cyan: #3AB09E
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  top: 0;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.container {    
  border-radius: 5px;    
  width: 900px;
  justify-content: center;
  align-content: center;
  display: flex;
  max-width: 100%;
  padding: 15px;
}

.login-form {
  padding: 20px 30px;
}
.login-form h2{
  color: red;
}
.label{
  width: 200px;
 
}

.input-fields {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
}

.input-fields input {
  border: 2px solid #f0f0f0;
  border-radius: 2px;
  font-family: inherit;
  border: 1px solid rgb(158, 158, 158);
  font-size: 14px;
  padding: 10px;
  width: 300px;
  
}


.input-fields small {
  position: absolute;
  visibility: hidden;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 4px;
  width: 80%;
  margin-left: 10px;
  top: 8px;
}

#register-link{
  text-decoration: none;
  color: var(--dark_cyan);
  margin-left: 10px;
}
#register-text{
 margin-left: 200px;
}

#default-button {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--dark_cyan);
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s;
  margin-left: 200px;
}

/* .form button:hover {
  background-color: #f74f1c;
} */

/* Styling for Alert messages */
.alert {
  position: absolute;
  top: 2%;
  right: 5%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgb(238, 238, 238);
  /* margin-bottom: 1rem;
  margin-right: 1rem; */
}

.alert {
  background-color: #40e0d0;
  color: rgb(255, 255, 255);
  font-size: 12px;

}

.alert.alert--error {
  background-color: rgba(253, 57, 57, 0.582);
  color: white;
}

.alert.alert--error>.alert__message {
  color: white;
}

.alert.alert--success,
.alert.alert--success>.alert__message {
  background-color: rgb(33, 218, 33);
  color: white;
}

.alert>.alert__close {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: transparent;
  color: white;
  font-size: 1rem;
  transition: 300ms;
}

.alert>.alert__close:hover {
  opacity: 0.85;
}

.progress-bar-warning {
  background-color: yellow;
}

.progress-bar-danger {
  background-color: red;
}

.progress-bar-success {
  background-color: green;
}