{% extends 'main.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/add_videos.css' %}">
{% endblock  %}


{% block content %}
    <div class="container">
        <form action="" method="POST" class="default-form">
            <h3>Change your password</h3>
            <em style="font-size:12px ;">Your password must be at least 8 characters, <br> must contain at least one special letter and numerical value <br>  and it must 
                not be similar to your personal information. </em>
                <p></p>
            {% csrf_token %}
            <div class="input-errors" style="margin-top: 20px;">
                <div class="input-fields">
                    <label for="current-password">Current Password</label>
                    <input type="password" name="current-password" id="">
                </div>
            </div>
            <div class="input-errors">
                <div class="input-fields">
                    <label for="new-password">New Password</label>
                    <input type="password" name="new-password" id="">
                </div>
            </div>
            <div class="input-errors">
                <div class="input-fields">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" id="">
                </div>
            </div>
            <div class="errors-div">
                {% for error in field.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}
            </div>
            <input type="submit" value="Change Password" class="default-button--large">
        </form>
    </div>    

    
{% endblock content %}
    