{% extends 'main.html' %}


{% block title %}Contact Us - FunOlympics{% endblock title %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/add_videos.css' %}">
{% endblock %}

{% block content %}



<div class="container">

    <form class="default-form" method="POST" novalidate>

        <h2>Contact Us</h2>

        {% csrf_token %}

        {% for field in form %}

        <div class="input-errors">

            {{field.label_tag}}
            <div class="input-fields">
                {{field}}
            </div>
        </div>

        {% endfor %}

       
        <input type="submit" value="Send Message" class="default-button--large" /><br>
    </form>
</div>

{% endblock content %}


{% block footer %}
{% include 'footer.html' %}

{% endblock footer %}