{% extends 'main.html'%}

{% block title %}Edit Profile{% endblock title %}

{% load static%}
{% block styles%}
<link rel="stylesheet" href="{% static 'styles/edit_profile.css' %}">
{% endblock styles%}



{% block content %}


<div class="container">

    <form action="{% url 'editprofile' %}" method="post" enctype="multipart/form-data">

        <h2>Update your details</h2>
        {% csrf_token %}

        {% for field in form %}

        <div class="input-errors">
            {{field.label_tag}}
            <div class="input-fields">
                {{field}}
            </div>
        </div>
        {%endfor%}
        <input type="submit" name="Update" id="default-button">
    </form>


</div>

{% endblock content %}