{% extends 'main.html'%}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block content%}

<div class="container">

  <form id="login-form" method="POST" novalidate>

    <h2>Login with email</h2>
    {% csrf_token %}

    {% for field in login_form %}

    <div class="input-errors">

      {{field.label_tag}}
      <div class="input-fields">
        {{field}}
      </div>


      <!-- <div class="errors-div">
        {% for error in field.errors %}
        <small style="color: red">{{error}}</small>
        {% endfor %}
      </div> -->
    </div>

    {% endfor %}
    {% if login_form.non_field_errors %}
      <div class="alert alert--error">
        <p class="alert__message">{{login_form.non_field_errors}}</p>
        <button class="alert__close">x</button>
      </div>
      {% endif %}

    <input type="submit" value="Login" id="default-button" /><br>
    <div class="links">

      <a href=""><input type="checkbox" name="" id="" value="">Remember me </a>
      <a href="{% url 'reset_password' %}">Forgot Password?</a>
    </div>
    <p id="register-text">Don't have an account? <a href="{% url 'register' %}" id="register-link">Register</a></p>
  </form>
</div>

{% endblock content %}