{% extends 'main.html' %}


{% block title %}Messages{% endblock title %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/message.css' %}">
{% endblock styles %}

<!-- This template is used to render out inbox messages for  password reset request -->

{% block content %}
<div class="container">
    <div class="message-box">

        <a href="{% url 'inbox' %}"><i class="fa fa-arrow-left"></i></a>

       

        <!-- Title and sender details attribute is same for both types of message, hence single rendering -->
        <div class="title">
            <h4>{{inbox.subject}}</h4>
        </div>

        <div class="sender-details">
            <p>{{inbox.sender}}</p>
            <p>{{inbox.sender.email}}</p>
            <p>{{inbox.created}}</p>
        </div>
        <!-- Form to reset user password by admin -->
        <div class="reply">

            <form action="" class="default-form" method="POST">
                {% csrf_token %}
                <div class="input-errors">
                    <div class="input-fields-md">
                        <input type="email" name="email" placeholder="Enter user email">
                    </div>
                </div>
                <input type="submit" name="" value="Reset Password" class="default-button--m0" style="margin-top: 10px;">
            </form>
        </div>
    </div>
</div>

{% endblock content %}