<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Password Reset Successful</h3>
    <p>Your new password is <strong>{{password}}</strong></p>
    <p>You can use this password to login. </p>
    <br>
    <em style="color:red ;">But we suggest you to change your password using the link in your profile page</em>

    <p>
        CONFIDENTIALITY NOTICE: This transmittal is a confidential communication or may otherwise be privileged. If you are not the intended recipient, you are hereby notified that you have received this transmittal in error and that any review, dissemination, distribution or copying of this transmittal is strictly prohibited. If you have received this communication in error, please notify this office, and immediately delete this message and all its attachments, if any.

    </p>
</body>

</html>