{% extends 'main.html'%}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
{% endblock %}

{% block content%}

<div class="container">
    
    <form id="signup-form"  method="POST" novalidate>

        <h2>Signup with email</h2>
        {% csrf_token %}

        {% for field in registration_form %}
        <div class="input-fields">
        <p>
            <div class="label">
                {{field.label_tag}}           
                   
            </div>
            {{field}}                           

            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}

            {% for error in field.errors %}
            <small style="color: red;">{{error}}</small>
            {% endfor %}
        </p>
        </div>
        {% endfor %}       
    
        <input type="submit" value="Signup" id="default-button">
    </form>

<!-- <script src="script/signup.js"></script> -->

</div>


{% endblock content %}