<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/de23b03d2b.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
</head>

<body>
    
    <div class="top-bar">
        <ul>
            <li><a href="#"><i class="fa-solid fa-ranking-star"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-futbol"></i></a></li>
            <li><a href="#"><i class='fa-solid fa-basketball'></i></a></li>
            <li><a href="#"><i class='fas fa-golf-ball'></i></a></li>
            <li><a href="#"><i class="fa-solid fa-person-swimming"></i></a></li>
            <li><a href="#"><i class='fas fa-hockey-puck'></i></a></li>
            <li><a href="#"><i class="fa-solid fa-table-tennis-paddle-ball"></i></a></li>
            <li><a href="#"><i class='fas fa-running'></i></a></li>
            <li><a href="#"><i class="fa-solid fa-person-biking"></i></a></li>
            <li><a href="#"><i class='fas fa-skiing'></i></a></li>
            <li><a href="#"><i class='fa-solid fa-volleyball'></i></a></li>
            <li><a href="#"><i class="fa-solid fa-person-skating"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-person-snowboarding"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-dumbbell"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-uniform-martial-arts"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-award-simple"></i></a></li>

        </ul>
    </div>

    {% if request.user.is_authenticated %}
    <div class="nav-bar">
        <ul>
            <li><img src="{% static 'media/images/olympic.png'%}" alt="" id="logo"></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Fixtures</a></li>
            <li><a href="#">Contact</a></li>


            {% if request.user.is_superuser %}
            <li><a href="{% url 'admin_panel' %}">Admin Panel</a></li>
            {% endif %}

            <div class="dropdown">
                <button class="dropbtn">

                    <img src="{{request.user.profile.profile_image.url}}" alt="" id="profile-img">

                </button>
                <div class="dropdown-content">
                    <a>Hello, {{request.user.username}}</a>
                    <a href="{% url 'myprofile'  %}">My Profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>



        </ul>
    </div>
    <div class="bottom-nav">
        <form action="#">
            <div class="search-fields">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>

        </form>
    </div>
    {% endif %}
    <!-- <div class="sidebar">
        <a href="" class="baritem bar-button">Dashboard</a>
        <a href="" class="baritem  bar-button">Content</a>
        <a href="{% url 'admin:index' %}" class="baritem bar-button">Admin Site</a>
        <a href="" class="baritem bar-button">User Site</a>
        <a href="" class="baritem bar-button">Manage Site</a>

    </div> -->


    {% if not request.user.is_authenticated %}
    <div class="nav-bar">
        <ul>
            <li><img src="{% static 'media/images/olympic.png'%}" alt="" id="logo"></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
            <a href="{% url 'login' %}"> <input type="submit" name="" id="btn-signin" value="Login/Signup"></a>
        </ul>
    </div>
    {% endif %}
</body>

</html>