<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/de23b03d2b.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
</head>

<body>

    {% if request.user.is_authenticated %}
    <div class="nav-bar" id="nav-bar">
        <ul>
            <li><a href="javascript:void(0);"><img src="{% static 'media/images/olympic.png'%}" alt="" id="logo" onclick="myFunction()"></a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'all_news' %}">News</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'all_videos' %}">Videos</a></li>
            <li><a href="{% url 'fixtures' %}">Fixtures</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>

                
            <li id="hide1"><a href="{% url 'myprofile'  %}">My Profile</a></li>
            <li id="hide"><a href="{% url 'logout' %}">Logout</a></li>
           

            {% if request.user.is_superuser %}
            <li> <a href="{% url 'admin_panel' %}" class="baritem bar-button">Admin Panel</a></li>
            {% endif %}
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="{{request.user.profile.profile_image.url}}" alt="" id="profile-img">
                </button>
                <div class="dropdown-content">
                    <a>Hello, {{request.user.username}}</a>
                    <a href="{% url 'myprofile'  %}">My Profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            
        </ul>
    </div>

    {% if not request.path == '/users/my_profile/' %}

    <div class="bottom-nav">
        <form action="" method="get">
            <div class="search-fields">
                <input type="text" placeholder="Search..." name="search_query">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    {% endif %}
    {% endif %}

    {% if not request.user.is_authenticated %}
    <div class="nav-bar">
        <ul>
            <li><img src="{% static 'media/images/olympic.png'%}" alt="" id="logo"></li>
            <li><a href="{% url 'landing_page' %}">Home</a></li>
            <li><a href="{% url 'fixtures' %}">Fixtures</a></li>
            <li><a href="{% url 'all_news' %}">News</a></li>
            <li><a href="{% url 'contact'  %}">Contact</a></li>
            <a href="{% url 'login' %}"> <input type="submit" name="" id="btn-signin" value="Login/Signup"></a>
        </ul>
    </div>
    {% endif %}
</body>

<script>
    function myFunction() {
        var x = document.getElementById("nav-bar");
        var hide = document.getElementById("hide");
        if (x.className === "nav-bar") {
            x.className += " responsive";
            
        } else {
            x.className = "nav-bar";
        }
    }
</script>

</html>