{% extends 'main.html'%}

{% block content%}

<div class="container">

    <div class="header">
        <div class="header-logo">
            <i class="fa-solid fa-futbol"></i>
        </div>
        <h1>Login to watch Olympic games with FunOlympics</h1>
    </div>

    <div class="login-signup">
        <input type="submit" value="Login    or    signup" class="login-redirect" onclick="redirectLogin()">
    </div>

    <div class="terms">
        <p>I accept FunOlympics' all <a href="#">Terms and Conditions.</a></p>
    </div>
</div>
</body>


{% endblock content %}