{% extends 'main.html' %}

{% load static %}
{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'styles/login.css' %}"> -->
{% endblock %}


{% block content %}

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        top: 0;
        margin: 0 auto;
        font-family: "Poppins", sans-serif;
    }

    .container {
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        width: 900px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin-top: 50px;
        padding: 15px;
        box-shadow: 2px 5px 4px -6px grey;
    }
</style>

<div class="container">
    <h3> Password reset sent</h3>
    <p>
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly.
        <br>
        <br>
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your
        spam folder.
    </p>

</div>
{% endblock content %}