{% extends 'main.html' %}

{% load static %}
{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'styles/login.css' %}"> -->
{% endblock %}


{% block content %}

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        top: 0;
        margin: 0 auto;
        font-family: "Poppins", sans-serif;
    }

    .container {
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        width: 900px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin-top: 50px;
        padding: 15px;
        box-shadow: 2px 5px 4px -6px grey ;
    }

    .login-form {
        padding: 20px 30px;

    }

    input {
        border: 2px solid #f0f0f0;
        border-radius: 2px;
        font-family: inherit;
        border: 1px solid rgb(158, 158, 158);
        font-size: 14px;
        padding: 10px;
        width: 300px;
    }

    .submit-email {
        width: 150px;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: var(--dark_cyan);
        color: #fff;
        font: inherit;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        margin-left: 50px;

    }
</style>

<div class="container">
    <form id="login-form" method="POST" novalidate>
        <h2>Reset Password</h2>
        <p>Forgotten your password? Enter your email address below and we'll email instructions for setting a new one.
        </p>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" class="submit-email" />
    </form>
</div>
{% endblock content %}