{% extends 'main.html' %}

{% load static %}
{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'styles/login.css' %}"> -->
{% endblock %}


{% block content %}

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        top: 0;
        margin: 0 auto;
        font-family: "Poppins", sans-serif;
    }

    .container {
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        width: 900px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin-top: 50px;
        padding: 15px;
        box-shadow: 2px 5px 4px -6px grey;
    }
</style>

<div class="container">
    <h3> Password reset complete
    </h3>
    <p>
        Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'login' %}">Login</a>

</div>
{% endblock content %}