@import url('./variables.css');
@import url('./animation.css');
@import url('../styles/modules/buttons.css');

body {
    margin: auto;
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    overflow: hidden;
    top: 0;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

form {
    padding: 20px 30px;
}

.input-errors {
    display: flex;
}

.input-errors label {
    display: inline;
    width: 200px;
}

.input-fields {
    display: flex;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.input-fields input {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    font-family: inherit;
    border: 1px solid rgb(158, 158, 158);
    font-size: 14px;
    padding: 10px;
    width: 400px;
}

.input-fields select {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    font-family: inherit;
    border: 1px solid rgb(158, 158, 158);
    font-size: 14px;
    padding: 10px;
    width: 400px;
}

.description-input {
    width: 400px;
    height: 44px;
    font: inherit;
}

.file-input {
    cursor: pointer;
    color: gray;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s;
}

.file-input button {
    height: 40px;
}

.tag-input {
    width: 200px;
    font: inherit;
}
