* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: rgb(230, 230, 230);
    font-size: 14px;
}

.container {
    width: 100%;
    display: flex;
    
    /* justify-content: space-around; */
}

.sidebar {
    width: 20%;
    background-color: white;
    margin-right: 20px;
    box-shadow: 2px 0 5px -2px #888;
    display: flex;
    padding: 10px;
    flex-direction: column;
    position: sticky;
    top: 0;
    /* top: 150px; */
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.baritem {
    padding: 14px 18px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;

}

.bar-button {
    white-space: normal;
}

.bar-button:hover {
    background-color: rgb(230, 230, 230);
}

.dashboard-container {
    width: 75%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.card-container {
    /* margin-top: 50px; */
    width: 100%;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, 1fr));
    grid-gap: 5px;
}

.card {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    margin: 8px;
    border-radius: 8px;
    justify-content: center;
    padding: 3px;
    max-width: 240px;
    height: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: transform .2s;
}

.card:hover {
    transform: scale(0.98);
}

.card-details {
    font: weight 400px;
    /* float: left; */
    margin-left: 5px;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.card-details p{
    color: grey;
}
.card-details i{
    color:purple; font-size:40px ;
}
#btn-small{
    border: none;
    background: var(--dark_cyan);
    color: white;
    font: inherit;
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 120px;
}
#btn-small:hover{
    cursor: pointer;
}

.card-details a {
    text-decoration: none;
    color: black;
}