@import url(uikit.css);



body h2 {
    display: block;
}


.container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}


.news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* margin-top: 10px; */
    padding: 20px;
   
}

.news-card-container {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    width: 100%;
}

.news-card-container a {
    text-decoration: none;
    color: black;
}

.news-card {
    display: flex;
    width: 98%;
    box-shadow: 0 2.5px 2px -2px gray;
    margin: 5px;
    transition: transform .3s;
}

.news-thumbnail img {
    object-fit: cover;
    width: 280px;
    height: 150px;
}

.news-card:hover {
    transform: scale(0.98);
    cursor: pointer;
}

.news-details {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 10px;
    text-align: justify;
}

.news-details p:first-child {
    font-weight: 600;

}

.news-details p:last-child {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3em;
}

.card-container {
    /* margin-top: 50px; */
    display: flex;
    /* flex-direction: row; */
    align-content: center;
}