@import url(uikit.css);



.container {
    display: flex;
    border-radius: 5px;
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* margin-top: 50px; */
    padding: 15px;
}

.form-container{
    width: 60%;
}
.form-container form{
    margin-top: 5% !important;
}
.form-container h4{
    margin: 5% 0;
}
.details-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.details-container i{
    width: 30px;
}
.social-links{
    font-size: 2em;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.social-links i{
    cursor: pointer;
    transition: transform 0.2s;
}
#fb{
    color: blue;
}
#insta{
    color: rgb(198, 10, 204);
}
#twitter{
    color: skyblue;
}
#reddit{
    color: orangered;
}
#yt{
    color: red;
}
.social-links i:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 600px){
    .details-container{
        display: none;
    }
    .container{
        display: flex;
        padding: 0;
    }
    .form-container{
        width: 100%;
    }
    .form-container form .default-button--large{
        margin-left: 100px;
    }
}
