@import url(uikit.css);


body h2 {
    display: block;
}

.notice {
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.3);
    color: red;
}

.live-banner {
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
}

.live-thumbnail {
    display: flex;
    width: 15%;
    text-align: center;
    transition: transform .2s
}
.live-thumbnail:hover{
    cursor: pointer;
    transform: scale(0.98);
}

.live-thumbnail iframe {
    width: 100px;
    height: 75px;
}

.live-thumbnail p {
    background-color: red;
    color: white;
    width: 40px;
    margin: 0;
    padding: 0;
}
.live-description{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.live-description h3, p{
    margin: 0;
    padding: 0;
}
.live-description p:last-child{
    color: grey;
    font-size: 14px;
}

.live-banner i {
    color: red;
    position: absolute;
    right: 0;
    margin-right: 3rem;
    animation: loading 1.5s ease-in-out infinite;
}

#live-link {
    margin-right: 1.5rem !important;
    color: red;
    animation: loading 1.5s ease-in-out infinite;
}



.container {
    display: flex;
    width: 95%;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 0 0 30px;
}

.left-container {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgba(128, 0, 128, 0.5), rgba(0, 255, 255, 0.5));
    padding: 5px;
    height: fit-content
        /* animation: move-in-left 1.5s ease-in-out; */
}

.fixture-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    height: fit-content;
}

.fixture-container a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-top: 10px;
    transition: transform cubic-bezier(0.215, 0.610, 0.355, 1);
}

.fixture-container a:hover {
    color: purple;
    transform: scale(1.05);
    cursor: pointer;
    text-decoration: underline;
}

.fixture-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    font-size: 12px;
    box-shadow: .5px .5px grey, -.5px -.5px grey;
    border-radius: 5px;
    margin: 5px 0;
    transition: transform .2s;
}

.fixture-card>p {
    margin: 5px 0;
}

.fixture-card:hover {
    transform: scale(0.96);
    cursor: pointer;
}

.standings-container, .players{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 5px;
    padding: 0 0 0 10px;
    height: fit-content;
}

#standings-table {
    font-size: 12px;
    width: 100%;
}

#standings-table tr {
    width: 100%;
}

#standings-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#standings-table th {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#standings-table td {
    padding: 10px;
    text-align: left;
}

.right-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    padding: 10px;
    /* animation: move-in-left 1.5s ease-in-out; */
}

.video-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    height: 340px;
}

.title {
    display: flex;
    width: 100%;
    align-items: center;
    /* position: relative; */

}
.title a {
    position: absolute;
    right: 0;
    margin-right: 4rem;
    text-decoration: none;
    color: black;
}

.title a:hover {
    color: purple;
    text-decoration: underline;
}

.title h2 {
    text-align: left;
    margin-left: 8px;
}


.news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* margin-top: 10px; */
    padding: 10px;
    overflow: hidden;
    height: 560px;
}

.news-card-container {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    width: 100%;
}

.news-card-container a {
    text-decoration: none;
    color: black;
}

.news-card {
    display: flex;
    width: 98%;
    box-shadow: 0 2.5px 2px -2px gray;
    margin: 5px;
    transition: transform .3s;
}

.news-thumbnail img {
    object-fit: cover;
    width: 280px;
    height: 150px;
}

.news-card:hover {
    transform: scale(0.98);
    cursor: pointer;
}

.news-details {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 10px;
    text-align: justify;
}

.news-details p:first-child {
    font-weight: 600;

}

.news-details p:last-child {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3em;
}

.card-container {
    /* margin-top: 50px; */
    display: flex;
    /* flex-direction: row; */
    align-content: center;
}

.gallery-container {
    display: flex;
    align-content: center;
    height: 180px;
    overflow: hidden;

}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 8px;
    border-radius: 8px;
    padding: 3px;
    max-width: 320px;
    height: 250px;
    box-shadow: 0 1.7px 2px -2px gray;
    transition: transform .2s;
}

.card--photo {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 8px;
    border-radius: 8px;
    padding: 3px;
    max-width: 320px;
    text-align: center;
    height: fit-content;
    box-shadow: 0 1.7px 2px -2px gray;
    transition: transform .2s;
}


.card:hover {
    transform: scale(0.98);
}

.card-details {
    font-size: 12px;
    font: weight 400px;
    /* float: left; */
    margin-left: 5px;
    text-overflow: ellipsis;
}
.card-details p:first-child{
    font-weight: 600;
}

.card-details a {
    text-decoration: none;
    color: black;
}

#ratio {
    display: block;
    margin-top: 10px;
}

.thumbnail, .card-grid--3 .thumbnail {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

}

.thumbnail img, .card-grid--3 .thumbnail img {
    height: 150px;
    width: 280px;
    object-fit: cover;
    /* margin-top: 10px; */
}


.featured-players {
    width: 100%;
    z-index: 2;
    height: 400px;
    background-color: rgba(128, 0, 128, 0.155);
}
.featured-players .title{
    margin: 8px 0 0 0;
}
.card-grid--five {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-left: 20px;
}

.card--players {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 8px;
    max-width: 200px;
    height: 300px;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.27);
    overflow: hidden;
    transition: transform .2s;
}
.card--players img{
    object-fit: cover;
    height: 250px;
    width: 200px;
    
}
.card--players span{
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.featured-events{
    background-color: white ;
    background: url(../media/images/background/bg.png);
    object-fit: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content:center !important;
    align-items: center;
    color: white;
    margin: 20px 0 0 0;
    height: 520px;
}
.card-grid--3 {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    overflow: hidden;
    width: 100%;
    align-items:  center;
    justify-content: center;
    grid-gap: 15px;
    /* margin-left: 20px; */
}
.card--fixtures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 8px;
    padding: 0px;
    max-width: 300px;
    text-align: center;
    height: fit-content;
    border: 1px solid rgba(128, 128, 128, 0.241);
    font-weight: 100;
}
.backdrop{
    width: 100%;
    height: inherit;
    /* padding: 20px; */
    background-color: rgba(0, 0, 0, 0.95); 
}

/* Responsive */

@media screen and (max-width: 600px){
    *{
        font-size: 12px !important;
    }
    .live-banner{
        max-width: 100%;
    }
    .live-thumbnail{
        height: auto;
        width: auto;
    }
    #live-link, .live-banner i{
        display: none;
    }
    .container , .right-container, .card-container{
        width: 100%;
        margin:0;
        padding: 0;
    }
    .left-container{
        display: none;
    }
 
    .card-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card-grid{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}