@import url('./variables.css');
@import url('../styles/modules/animation.css');
@import url('../styles/modules/buttons.css');
@import url('../styles/modules/app.css');

body h2 {
    display: block;
}


.video-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.title {
    display: flex;
    width: 100%;
    align-items: center;
    /* position: relative; */
}

.title h2 {
    text-align: left;
    margin-left: 8px;
}

.title a {
    position: absolute;
    right: 0;
    margin-right: 4rem;
    text-decoration: none;
    color: black;
}

.title a:hover {
    color: purple;
    text-decoration: underline;
}

.card-container {
    /* margin-top: 50px; */
    display: flex;
    /* flex-direction: row; */
    align-content: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 8px;
    border-radius: 8px;
    padding: 3px;
    max-width: 320px;
    height: 250px;
    box-shadow: 0 1.7px 2px -2px gray;
    transition: transform .2s;
}

.card:hover {
    transform: scale(0.98);
}

.card-details {
    font-size: 12px;
    font: weight 400px;
    /* float: left; */
    margin-left: 5px;
    text-overflow: ellipsis;
}

.card-details a {
    text-decoration: none;
    color: black;
}

#ratio {
    display: block;
    margin-top: 10px;
}

.thumbnail {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

