@import url('./variables.css');
@import url('../styles/modules/form.css');
@import url('../styles/modules/buttons.css');
@import url('../styles/modules/app.css');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: white !important;
  top: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url(../media/images/background.jpg);
  background-size: 800px 650px;
  background-repeat: no-repeat;
  background-position: bottom right;

}

.container {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  width: 900px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 50px;
  padding: 15px;

}

#register-text {
  margin-left: 200px;
  margin-top: 50px;
}

#register-link {
  text-decoration: none;
  color: var(--dark_cyan);
  margin-left: 10px;
}

.links {
  display: flex;
  width: 60%;
  font-size: 12px;
  margin-left: 200px;
  position: relative;
  margin-top: 20px 0;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:first-child {
  position: absolute;
  left: 0%;
}

.links a:last-child {
  position: absolute;
  right: 3%;
  text-decoration: underline;
}
