@import url('./variables.css');

* {
    box-sizing: border-box;
}

body {
    /* margin: auto; */
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    padding: 10px 30px;
    /* margin-top: 10px; */

}
.container p{
    text-align: justify;
}
.left-container{
    display:flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    justify-content: center;
    /* padding: 5px; */
}
.left-container img{
    object-fit: cover;
}
.left-container span{
    font-size: 25px;
    width: 100%;
}
