@import url('./variables.css');
@import url('./animation.css');
@import url('../styles/modules/buttons.css');
@import url('../styles/modules/app.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: scroll;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: white !important;
    background: url(../media/images/background.jpg);
    background-size: 800px 650px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.container {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    width: 100%;
    justify-content: left;
    margin-top: 50px;
    padding: 15px 15px 15px 300px;
}

.signup-form {
    padding: 20px 30px;
    margin-left: 200px;
}

#login-text {
    margin-left: 200px;
}

#login-link {
    text-decoration: none;
    color: var(--dark_cyan);
    margin-left: 10px;
    font-weight: 600;
}

.input-errors {
    display: flex;
}

.input-fields {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.input-errors label {
    display: inline;
    width: 200px;
}

.input-fields input {
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    font-family: inherit;
    border: 1px solid rgb(158, 158, 158);
    font-size: 14px;
    padding: 10px;
    width: 300px;

}

.input-fields select {
    max-width: 300px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    font-family: inherit;
    border: 1px solid rgb(158, 158, 158);
    font-size: 14px;
    height: 40px;
}

.terms {
    font-size: 11px;
}

.terms a {
    text-decoration: none;
    color: rgb(73, 137, 255);
}

#default-button {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: #fd7045; */
    background-color: var(--dark_cyan);
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s;
    margin-left: 200px;
}