@import url(uikit.css);


body {
  align-items: center;
  justify-content: center;
}
.container{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 150px;
}
.details{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container img{
  width:250px;
  height: 250px;
}
.labels {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width:20%;
  text-align: left;
}
.info, .profile-actions{
  display: flex;
  flex-direction: column;
  width:40%;
  text-align: left;
}
.profile-actions a{
  padding: 15px;
  margin-top: 10px;
  text-decoration: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: transition(.2s);
}
.profile-actions a:hover{
  transform: scale(0.96);
}

