{% extends 'main.html'%}


{% block title %}Admin Panel - FunOlympics{% endblock title %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/admin_panel.css' %}">
{% endblock %}

{% block content %}


<div class="container">
    <div class="sidebar">
        <a href="" class="baritem bar-button">Dashboard</a>
        <a href="" class="baritem  bar-button">Content</a>
        <a href="{% url 'admin:index' %}" class="baritem bar-button">Admin Site</a>
        <a href="{% url 'inbox' %}" class="baritem bar-button" style="display:flex ;">Passowrd Reset Requests 
            <div class="circle">
                <small >{{unread_count}}</small>
            </div>
        </a>
        <a href="" class="baritem bar-button">User Site</a>
        <a href="{% url 'add_live' %}" class="baritem bar-button">Add Live Video</a>
        <a href="{% url 'add_fixtures' %}" class="baritem bar-button">Add Fixtures</a>
    </div>

    <div class="dashboard-container">
        <h3>In Numbers</h3>
        <div class="card-container">
            <div class="card-grid">
                <div class="card">
                    <div class="card-details">                        
                        <i class="fa-solid fa-video"></i>
                        <p>{{video_count}} Videos</p>
                        <a href="{% url 'add_videos' %}" > <button id="btn-small"> Add
                                Video</button></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-details">
                        <i class="fa-solid fa-newspaper"></i>                        
                        <p>{{news_count}} News </p>
                        <a href="{% url 'add_news' %}" > <button id="btn-small"> Add
                            News</button></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-details">
                        <i class="fa-solid fa-users"></i>                        
                        <p>{{users_count}} Users</p>
                        <a href="{% url 'admin:index' %}" > <button id="btn-small">  Users
                            </button></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-details" >
                        
                        <span class="material-symbols-outlined">
                            add_a_photo
                        </span>
                        <p style="margin-left:15px ;">{{photo_count}} Photos</p>
                        <a href="{% url 'add_photos' %}"> <button id="btn-small" style="margin-left:15px ;"> Add Photo</button></a>
                    </div>
                </div>
            </div>
        </div>


        <h3>Analytics</h3>
        <div class="card-grid">
            <div class="card">
                <div class="card-details">                        
                    <img src="{% static 'media/images/chart.png'%}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}