{% extends 'main.html'%}


{% block title %}Watch Games - FunOlympics{% endblock title %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}


<div class="live-banner">
    <div class="live-thumbnail">
        <iframe src="{{live.url}}" frameborder="0" ></iframe>
        <p>Live now</p>

    </div>
    <div class="live-description">
        <h3>{{live.title}}</h3>
        <p>{{live.venue}}</p>
    </div>
    <a href="{% url 'live_games' %}" id="live-link">Live Games</a>
    <i class="fa-solid fa-tv"></i>
</div>
<div class="container">
    <div class="left-container">
        <div class="fixture-container">
            <h2>Upcoming games</h2>
            {% for fixture in fixtures %}
            <div class="fixture-card">
                <p>{{fixture.fixture}}</p>
                <p style="font-size:10px ;">{{fixture.date}}</p>
            </div>
            {% endfor %}
            <a href="{% url 'fixtures' %}">View fixtures and results → </a>
        </div>

        <div class="standings-container">
            <h2>Latest standings</h2>
            <table id="standings-table">
                <tr>
                    <th>Country</th>
                    <th><i class="fa-solid fa-medal" style="color:gold ;"></i></th>
                    <th><i class="fa-solid fa-medal" style="color:silver;"></i></th>
                    <th><i class="fa-solid fa-medal" style="color:brown;"></i></th>
                    <th><i class="fa-solid fa-ranking-star" style="color: purple;"></i></th>
                </tr>
                {% for standing in standings %}
                <tr>
                    <td>{{standing.country}}</td>
                    <td>{{standing.gold}}</td>
                    <td>{{standing.silver}}</td>
                    <td>{{standing.bronze}}</td>
                    <td>{{standing.total}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="players">
            <h2>Top Players</h2>
            <table id="top-players">
                <table id="standings-table">
                    <tr>
                        <th>Player</th>
                        <th><i class="fa-solid fa-medal" style="color:gold ;"></i></th>
                        <th><i class="fa-solid fa-medal" style="color:silver;"></i></th>
                        <th><i class="fa-solid fa-medal" style="color:brown;"></i></th>
                        <th><i class="fa-solid fa-ranking-star" style="color: purple;"></i></th>
                    </tr>
                    {% for player in players %}
                    <tr>
                        <td>{{player.name}}</td>
                        <td>{{player.gold}}</td>
                        <td>{{player.silver}}</td>
                        <td>{{player.bronze}}</td>
                        <td>{{player.total}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </table>
        </div>
    </div>

    <div class="right-container">
        <div class="video-container">
            <div class="title">
                <h2>Latest Videos</h2>

                <a href="{% url 'all_videos' %}">Load more videos →</a>
            </div>
            {% if search_query%}
            <p style="margin-left:15px; color:#3AB09E">Search results for {{search_query}}</p>
            {% endif %}
            <div class="card-container">
                <div class="card-grid">
                    {% for video in videos %}
                    <div class="card">
                        <a href="{% url 'video_desc' video.id %}" style="text-decoration: none; width:100%;">
                            <div class="thumbnail">
                                <video src="{{video.video.url}}" type="video/mp4"></video>
                            </div>
                            <div class="card-details">
                                <p><a href="{% url 'video_desc' video.id %}">{{video.title}}</a></p>
                                <p>{{video.uploaded|date}}</p>
                                {% if request.user.is_superuser %}
                                <span style="position: absolute; right: 5%; bottom: 2.5%;">
                                    <a href="{% url 'update_videos' video.id %}"><i class="fas fa-edit"></i></a>
                                </span>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="news-container">
            <div class="title">
                <h2>Latest News</h2>
                <a href="{% url 'all_news' %}">Load more news →</a>
            </div>

            <div class="news-card-container">
                {% for news in news %}
                <a href="{% url 'news_desc' news.id %}">
                    <div class="news-card">
                        <div class="news-thumbnail">
                            <img src="{{news.image.url}}">
                        </div>
                        <div class="news-details">
                            <p>{{news.title}}</p>
                            <p>{{news.description}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="gallery">
            <div class="title">
                <h2>Funolympics 22' in photos</h2>
                <a href="{% url 'gallery' %}">See more photos →</a>
            </div>
            <div class="gallery-container">
                <div class="card-grid">
                    {% for photo in photos %}
                    <div class="card--photo">
                        <a href="{% url 'view_photo' photo.id %}" style="text-decoration: none; width:100%;">
                            <div class="thumbnail">
                                <img src="{{photo.photo.url}}" alt="">
                            </div>
                            <div class="card-details">
                                <p>{{photo.album.name}}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="featured-events">
    <div class="backdrop">
        <div class="title">
            <h2>Games to Watch</h2>
        </div>
        <div class="card-grid--3">
            {% for fixture in fixtures %}
            <div class="card--fixtures">
                {% if fixture.thumbnail.url is not None %}

                <div class="thumbnail">
                    <img src="{{fixture.thumbnail.url}}" alt="" style=" object-fit:cover; ">
                </div>

                {% endif %}
                <p>{{fixture.fixture}}</p>
                <p>{{fixture.date}}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<div class="featured-players">
    <div class="title">
        <h2>Featured Players</h2>
    </div>
    <div class="card-grid--five">        
        {% for player in players %}
        <div class="card--players">
            <p>{{player.name}}</p>
            <p>{{player.total}}</p>
            <img src="{{player.image.url}}" alt="{{player.name}} with medals.">
            <span>
                <p><i class="fa-solid fa-medal" style="color:gold ;"></i>{{player.gold}}</p>
                <p><i class="fa-solid fa-medal" style="color:rgb(153, 152, 152);"></i>{{player.silver}}</p>
                <p><i class="fa-solid fa-medal" style="color:brown;"></i> {{player.bronze}}</p>
            </span>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}