{% extends 'main.html'%}


{% block title %}Watch Live - FunOlympics{% endblock title %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/live_games.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <!-- <div class="sidebar">

        <h4>Categories</h4>
        <a href="{% url 'live_games' %}" class="baritem bar-button"><i class="fa-solid fa-circle"
                style="color:red;"></i> Live videos</a>
        <a href="{% url 'all_videos' %}" class="baritem bar-button">All Videos</a>
        {% for category in categories %}
        <a href="{%  url 'all_videos' %}?category={{category.name}}" class="baritem bar-button">{{category.name}}</a>
        {% endfor %}

    </div> -->

    <div class="video-container">
        <div class="card-container">
            <div class="card-grid">
                {% for live_video in live_videos %}
                <div class="card">
                    <a href="" style="text-decoration: none; width:100%;">
                        <iframe src="{{live_video.url}}" frameborder="0" autoplay allowfullscreen></iframe>
                        <div class="card-details">
                            <p><a href="{% url 'live_desc' live_video.id %}">{{live_video.title}}</a></p>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}